/* Created with Easy CSS Menu */

#mbthamarebul_wrapper {
  padding: 5px;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-radius: 0;
  background-color: #123456;
  box-shadow: none;
  border-collapse: separate;
  font-size: 0;
  line-height: 0;
}

#mbthamarebul_wrapper.quirks {
  margin-bottom: 7px;
  margin-right: 7px;
}

#mbthamarebul_wrapper.quirks #mbthamarebul_table ul li {
  width: 100%;
}

#mbthamarebul_table {
  margin: 0px;
  margin-bottom: -7px;
  margin-right: -7px;
  padding: 0;
  line-height: 0px;
  font-size: 0px;
  display: inline-block;
  width: auto;
}

#mbthamarebul_table li a {
  line-height: 15px;
  font-size: 12px;
  font-family: Arial,sans-serif;
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: normal;
  padding: 5px 15px 5px 15px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#mbthamarebul_table li div.buttonbg {
  height: 25px;
  width: 136px;
  line-height: 0;
  background-color: transparent;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: 5px;
  padding: 0;
  box-shadow: none;
  text-align: center;
}

#mbthamarebul_table li:hover div.buttonbg a, #mbthamarebul_table li.expanded a.topitem, #mbthamarebul_table li.active a.topitem,
#mbthamarebul_table li.itemhot a.topitem, #mbthamarebul_table li a:hover {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}


#mbthamarebul_table li.expanded div.buttonbg, #mbthamarebul_table li.active div.buttonbg, #mbthamarebul_table li.itemhot div.buttonbg, #mbthamarebul_table li:hover div.buttonbg {
  background-color: #CCFFCC;
  box-shadow: 1px 1px 3px -1px #333333, 0 1px 2px -1px #FFFFFF inset;
}

#mbthamarebul_table li.expanded div.buttonbg, #mbthamarebul_table li.active div.buttonbg, #mbthamarebul_table li.itemhot div.buttonbg, #mbthamarebul_table li:hover div.buttonbg {
  border-color: #2869C1;
}

#mbthamarebul_table ul li a {
  color: #333333;
  font-family: Arial,sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#mbthamarebul_table ul li:hover > a {
  color: #FFFFFF;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbthamarebul_table ul li.subexpanded a.subexpanded, #mbthamarebul_table ul li.subitemhot a.subitemhot, #mbthamarebul_table ul li a:hover {
  color: #FFFFFF;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbthamarebul_table ul li:hover, #mbthamarebul_table ul li.subexpanded, #mbthamarebul_table ul li.subitemhot {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
}

#mbthamarebul_table ul {
  margin: 0;
  border-style: solid;
  border-color: #D7D7D7;
  border-width: 1px;
  padding: 0;
  background: transparent;
  font-size: 0;
  border-radius: 5px;
}

#mbthamarebul_table ul li a {
  padding: 8px 16px 8px 14px;
  text-align: left;
}

#mbthamarebul_table ul li.separator {
  padding: 8px;
  cursor: default;
  background: none;
  box-shadow: none;
  border-width: 0;
}

#mbthamarebul_table ul li.separator div {
  border-top: 1px solid #9D9DA1;
  font-size: 0px;
}

#mbthamarebul_table ul li {
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  height: auto;
  width: auto;
  text-align: left;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  float: none;
  margin: 0 0 0px 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
  display: block;
}

#mbthamarebul_table ul li.first_item {
  border-radius: 4px 4px 0 0;
}

#mbthamarebul_table ul li.last_item {
  border-radius: 0 0 4px 4px;
}


#mbthamarebul_table ul {
  box-shadow: 1px 1px 5px -1px #333333;
}

#mbthamarebul_table a img {
  border: none;
}

#mbthamarebul_table li {
  list-style: none;
  float: left;
  margin: 0px 7px 7px 0px;
  padding: 0;
  float: left;
  display: inline-block;
}

#mbthamarebul_table.css_menu li {
  position: relative;
}

#mbthamarebul_table.css_menu ul li:hover > ul {
  opacity: 1;
}

#mbthamarebul_table.css_menu li:hover > ul {
  top: 100%;
  left: 0;
  right: auto;
  opacity: 1;
}

#mbthamarebul_table.css_menu ul li:hover > ul {
  top: -1px;
  left: 100%;
  right: auto;
}

#mbthamarebul_table.css_menu ul {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-property:opacity;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -ms-transition-property:opacity;
  opacity: 0;
}

#mbthamarebul_table ul {
  position: absolute;
  top:-99999px;
  z-index: 4000;
}

#mbthamarebul_table ul ul {
  position: absolute;
  z-index: 5000;
}

#mbthamarebul_table .submenu_arrow {
  margin-left: 8px;
}


@media screen and (max-width: 500px) {
  #mbthamarebul_wrapper:not(.scripted) {
    text-align: center;
  }

  #mbthamarebul_wrapper:not(.scripted) #mbthamarebul_table li {
    float: none;
    vertical-align: top;
  }
}

#mbthamarebul_wrapper.centeritems {
  text-align: center;
}

#mbthamarebul_wrapper.centeritems #mbthamarebul_table li {
  float: none;
  vertical-align: top;
}
#mbthamarebul_table a.with_img_4 span.img_4x5, .mbthamarebul_menulist span.img_4x5 { 
  width: 4px; 
  height: 5px; 
  display: inline-block; 
  vertical-align: middle; 
}

#mbthamarebul_table li:hover > a span.img_4x5, #mbthamarebul_table li.subexpanded > a span.img_4x5 { 
  background-position: 0 -5px; 
} 

#mbthamarebul_table div.arrow { 
  background-image: url(ebab_mbthamar_d.png); 
  background-repeat: no-repeat; 
  background-position: right center; 
  height: 100%; 
} 

#mbthamarebul_table ul li a.with_arrow { 
  background-image: url(ebab_mbthamar_c.png); 
  background-repeat: no-repeat; 
  background-position: right center; 
  padding-right: 20px; 
} 

#mbthamarebul_table ul li a.with_arrow:hover, #mbthamarebul_table ul li:hover > a.with_arrow, #mbthamarebul_table ul li.subexpanded > a.with_arrow { 
  background-image: url(ebab_mbthamar_c2.png); 
} 

#mbthamarebul_table li:hover div.gradient27, #mbthamarebul_table li.expanded div.gradient27, #mbthamarebul_table li.active div.gradient27, #mbthamarebul_table li.itemhot div.gradient27 { 
  background-image: url('buttonhot_bg.png'); 
  background-repeat: repeat-x; 
  background-color: #377AD0; 
} 

#mbthamarebul_table li:hover div.gradient_button, #mbthamarebul_table li.expanded div.gradient_button, #mbthamarebul_table li.active div.gradient_button, #mbthamarebul_table li.itemhot div.gradient_button { 
  background-image: -moz-linear-gradient(top, #52A8E8 0%, #377AD0 100%); 
  background-image: -webkit-linear-gradient(top, #52A8E8 0%, #377AD0 100%); 
  background-image: linear-gradient(top, #52A8E8 0%, #377AD0 100%); 
} 

#mbthamarebul_table ul.gradient33 { 
  background-image: url('menu_bg1.png'); 
  background-repeat: repeat-x; 
  background-color: #ECECEC; 
} 

#mbthamarebul_table ul.gradient95 { 
  background-image: url('menu_bg.png'); 
  background-repeat: repeat-x; 
  background-color: #ECECEC; 
} 

#mbthamarebul_table ul.gradient_menu { 
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #ECECEC 100%); 
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #ECECEC 100%); 
  background-image: linear-gradient(top, #FFFFFF 0%, #ECECEC 100%); 
} 

#mbthamarebul_table ul li.gradient31:hover, #mbthamarebul_table ul li.gradient31.subexpanded, #mbthamarebul_table ul li.gradient31.subitemhot { 
  background-image: url('menuitemhot_bg.png'); 
  background-repeat: repeat-x; 
  background-color: #3A7ED1; 
} 

#mbthamarebul_table ul li.gradient_menuitem:hover, #mbthamarebul_table ul li.gradient_menuitem.subexpanded, #mbthamarebul_table ul li.gradient_menuitem.subitemhot { 
  background-image: -moz-linear-gradient(top, #51A4E6 0%, #3A7ED1 100%); 
  background-image: -webkit-linear-gradient(top, #51A4E6 0%, #3A7ED1 100%); 
  background-image: linear-gradient(top, #51A4E6 0%, #3A7ED1 100%); 
} 

#mbthamarebul_table li a.button_3, #mbthamarebul_table li div a.button_3 { 
  padding-right: 39px; 
} 

#mbthamarebul_table li a.button_4, #mbthamarebul_table li div a.button_4 { 
  padding-right: 39px; 
} 

#thbackground{
  height:500px;
  width:100%;
  background-color:#157BDC ;
}

body{
margin-top:2%;
margin-right:3%;
margin-left: 3%;
margin-bottom:2% ;
background-color: ;
}

#thlog{
  height:75px;
  width: 100%;
  background-color:white;
}

#thlogg{
  height:100px ;
  width: 100%;
  background-color:#123456;
}

#thd1{
  height:100px ;
  width:50%;
  background-color:transparent;
  float:left;
}

#thd2{
  height:100px ;
  width: 5%;
  background-color:transparent;
  float:left;
}

#thdc1{
  height:100px ;
  width:70%;
  background-color:transparent;
 }

#thdcr1{
  height:100px ;
  width:70%;
  background-color:transparent;
 }

#about1{
  height:750px ;
  width: 65%;
  background-color:transparent;
  float:left;
}

#about2{
  height:750px ;
  width: 5%;
  background-color:transparent;
    float:left;
 }

#about3{
  height:600px;
  width:23.6%;
  background-color:transparent; ;
  float:right;
}


#trs1{
  height:100px ;
  width:80%;
  background-color:transparent;
}
#thbgdt{
  height:1400px;
  width:100%;
  background-color:transparent; 
}

#thdt1{
  height:1250px ;
  width:80%;
  background-color:transparent;

}

#thpr{
  height:600px;
  width:100%;
  background-color:transparent ;
}

#thdpr1{
  height:500px ;
  width:80%;
  background-color:transparent;

}


#thcu{
  height:950px;
  width:100%;
  background-color:transparent ;
}

#thcu1{
  height:500px;
  width:68%;
  background-color:transparent;
  float:left;
  }

#thcu2{
  height:320px;
  width:30%;
  background-color:transparent;
  float:right;
  }
  #thcu3{
  height:300px;
  width:45%;
  background-color:transparent;
  float:left;
   }
#thcu4{
  height:400px;
  width:40%;
  background-color:transparent;
  float:right;
   }


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
     width: 50%;
}

tr:nth-child(even) {
    background-color:transparent;
}



footer{
  height:50px ;
  width: 40%;
  background-color:transparent;
 }
